doctype html
html(lang="en" dir="ltr")
  head
    meta(charset="utf-8")
    title Music Kit
    link(rel="stylesheet", href="styles.css")
    link(href="https://fonts.googleapis.com/css?family=Arvo", rel="stylesheet")
    link(rel="stylesheet", href="https://unpkg.com/swiper/swiper-bundle.min.css")
    link(href="https://fonts.googleapis.com/css?family=Arvo", rel="stylesheet")

  body
    .top-section
      .fade-in-text Sur-Pravah
    br
    br

    nav
      ul
        li: a(href="#title") Drum
        li: a(href="#guitar-section") Guitar
        li: a(href="#contact-section") Contact
    br
    br
    br

    .swiper-container
      .swiper-wrapper
        .swiper-slide: img(src="Screenshot 2024-01-21 at 9.56.55 PM.png", alt="Slide 1", width="500px")
        .swiper-slide: img(src="Screenshot 2024-01-21 at 9.59.14 PM.png", alt="Slide 2", width="500px")
        .swiper-slide: img(src="Screenshot 2024-01-20 at 3.13.35 PM.png", alt="Slide 3", width="500px")
        // Add more slides as needed
      .swiper-button-next
      .swiper-button-prev

    h1#title Music Kit 🎶
    // Drum Kit
    .set
      h2 DRUMS
      br
      button.w.drum w
      button.a.drum a
      button.s.drum s
      button.d.drum d
      button.j.drum j
      button.k.drum k
      button.l.drum l

    h2 GUITAR
    .set#guitar-section
      button.guitar C
      button.guitar D
      button.guitar E

    .image#contact-section: img(src="Screenshot 2024-01-07 at 12.16.54 AM.png", height="900px", width="1600px")

    script(src="index.js", charset="utf-8")
    footer
      nav
        h2 made by ananditasingh 2024

    script(src="https://unpkg.com/swiper/swiper-bundle.min.js")

