body {
    text-align: center;
    background-color: #FFF7E9; /* Updated background color */
    color: black; /* Text color for the entire website */
  }
  
  h1 {
    font-size: 5rem;
    color: #214595; /* Updated title color */
    font-family: "Arvo", cursive;
    text-shadow: 3px 0 #214595; /* Updated text shadow color */
  }
  
  footer {
    color: black; /* Updated text color for footer */
    font-family: sans-serif;
  }
  
  .set {
    margin: 10% auto;
  }
  
  .w {
    background-image: url("images/tom1.png");
  }
  
  .a {
    background-image: url("images/tom2.png");
  }
  
  .s {
    background-image: url("images/tom3.png");
  }
  
  .d {
    background-image: url("images/tom4.png");
  }
  
  .j {
    background-image: url("images/snare.png");
  }
  
  .k {
    background-image: url("images/crash.png");
  }
  
  .l {
    background-image: url("images/kick.png");
  }
  
  .pressed {
    box-shadow: 0 3px 4px 0 #214595;
    opacity: 0.5;
  }
  
  .red {
    color: #214595; /* Updated color for the red class */
  }
  
  .drum {
    outline: none;
    border: 2Opx solid #214595;
    font-size: 5rem;
    font-family: 'Arvo', cursive;
    line-height: 2;
    font-weight: 900;
    color: #214595;
    text-shadow: 3px 0 #214595;
    border-radius: 15px;
    display: inline-block;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 10px;
    background-color: #FFF7E9;
  }