doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title PAGE LOADING

    link(rel='stylesheet', href='styleanimation.css')
    link(href='https://fonts.googleapis.com/css?family=Arvo', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Arvo', rel='stylesheet')

  body
    .cat
      .ear.ear--left
      .ear.ear--right
      .face
        .eye.eye--left
          .eye-pupil
        .eye.eye--right
          .eye-pupil
        .muzzle

    .hello-text THE WEBSITE IS YET TO BE COMPLETED, ENJOY WHATEVER THAT IS NOW

    script(src='animation.js', charset='utf-8')
