
    .cat {
      position: relative;
      height: 170px; 
      width: 192.1px; 
    }

    .ear {
      position: absolute;
      top: -30%;
      height: 60%;
      width: 25%;
      background: white;
    }

    .ear::before,
    .ear::after {
      content: '';
      position: absolute;
      bottom: 24%;
      height: 10%;
      width: 5%;
      border-radius: 50%;
      background: black;
    }

    .ear::after {
      transform-origin: 50% 100%;
    }

    .ear--left {
      left: -7%;
      border-radius: 70% 30% 0% 0% / 100% 100% 0% 0%;
      transform: rotate(-15deg);
      &::before,
      &::after {
        right: 10%;
      }
      &::after {
        transform: rotate(-45deg);
      }
    }

    .ear--right {
      right: -7%;
      border-radius: 30% 70% 0% 0% / 100% 100% 0% 0%;
      transform: rotate(15deg);
      &::before,
      &::after {
        left: 10%;
      }
      &::after {
        transform: rotate(45deg);
      }
    }

    .face {
      position: absolute;
      height: 100%;
      width: 100%;
      background: black;
      border-radius: 50%;
    }

    .eye {
      position: absolute;
      top: 35%;
      height: 30%;
      width: 31%;
      background: white;
      border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 0;
        width: 100%;
        border-radius: 0 0 50% 50% / 0 0 40% 40%;
        background: black;
        animation: blink 4s infinite ease-in;
      }
      @keyframes blink {
        0% { height: 0; }
        90% { height: 0; }
        92.5% { height: 100%; }
        95% { height: 0; }
        97.5% { height: 100%; }
        100% { height: 0; }
      }
      &::before {
        content: '';
        position: absolute;
        top: 60%;
        height: 10%;
        width: 15%;
        background: white;
        border-radius: 50%;
      }
    }

    .eye--left {
      left: 0;
      &::before {
        right: -5%;
      }
    }

    .eye--right {
      right: 0;
      &::before {
        left: -5%;
      }
    }

    .eye-pupil {
      position: absolute;
      top: 25%;
      height: 50%;
      width: 20%;
      background: black;
      border-radius: 50%;
      animation: look-around 4s infinite;
      @keyframes look-around {
        0% { transform: translate(0) }
        5% { transform: translate(50%, -25%) }
        10% { transform: translate(50%, -25%) }
        15% { transform: translate(-100%, -25%) }
        20% { transform: translate(-100%, -25%) }
        25% { transform: translate(0, 0) }
        100% { transform: translate(0, 0) }
      }
      .eye--left & {
        right: 30%;
      }
      .eye--right & {
        left: 30%;
      }
      &::after {
        content: '';
        position: absolute;
        top: 30%;
        right: -5%;
        height: 20%;
        width: 35%;
        border-radius: 50%;
        background: white;
      }
    }

    .muzzle {
      position: absolute;
      top: 60%;
      left: 50%;
      height: 6%;
      width: 10%;
      background: white;
      transform: translateX(-50%);
      border-radius: 50% 50% 50% 50% / 30% 30% 70% 70%;
    }

    
    html {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: black;
    }

    /* Hello text styles */
    .hello-text {
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translateX(-50%);
      font-size: 24px;
      color: white;
      animation: fadeIn 2s ease-out;
    }

    @keyframes fadeIn {
      0% { opacity: 0; }
      100% { opacity: 1; }
    }
